body {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 11.5fr 1fr;
    background-image: url("../img/FondoSurf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    /*
    min-width: 360px;
    min-height: 80vh;
    max-width: 750px;
    */
  }

  @font-face {
    font-family: 'BillionDreams';
    src: url('../fonts/BillionDreams_PERSONAL.ttf') format('truetype');
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "BillionDreams";
    font-weight: lighter;
    color: black;
}

.especialTexth2 {
  text-align: center;
  font-family: "BillionDreams";
  font-weight: lighter;
  background-color: black;

}

h3 {
  margin-top: 0px;
}

.divbutton {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.buttonGeneral {
  color: white;
  background-color: black;
  width: 250px;
  height: 25px;
  font-family: "BillionDreams";
  font-weight: lighter;
  font-size: 1.4em;
  margin-bottom: 20px;
  padding-bottom: 30px; 
}

.cuadrarMain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.divDer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  margin-top: 30px;

}

.textoSurf {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.divIzq {
  display: flex;
  flex-wrap: wrap;

}

.divRectangulos {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  align-items: end;
}

.rectanguloBase {
  opacity: 60%;
  margin-top: 40px;
  padding-top: 10px;
  width: 40vw;
  height: 12vh;
}

.imagenTabla {
  padding-right: 30px;
  padding-top: 0px;
  height: 70vh;
}

.texto {
  width: 250px;
 
}